# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Windows batch scripts keep CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary
*.png binary
*.jpg binary
*.ico binary
*.vsix binary
